@charset "UTF-8";

.wrap {
	width: 700px;
	background: rgb(248, 249, 250);
	margin: auto;
	margin-top: 70px;
	margin-bottom: 70px;
}

#signUpForm {
	width: 400px;
	margin: auto;
	padding: 10px;
	padding-top: 80px;
}

#signUpForm h1 {
	text-align: center;
}

.input_area {
	border: solid 1px #dadada;
	padding: 0px 0px 5px 0px;
	background: white;
}

.input_area input:not([type=checkbox]) {
	width: 260px;
	height: 35px;
	border: 0px;
}

.btnArea {
	text-align: center;
	padding: 50px;
}

button {
	width: 100px;
	height: 35px;
	border: 0px;
	color: white;
	background: #282A35;
	margin: 5px;
	cursor: pointer;
}