@charset "UTF-8";

/* top.css */

/************** Header **************/

#headerBox {
	height: 80px;
	line-height: 80px;
	padding: 0;
}

#logoBox {
	float:left;
	height:80px;
	line-height:80px;
}

/************** 메인 메뉴 고정 **************/

.mainMenuFixed {
	position:fixed;
	top:0px;
}


