<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>한국 대표팀 우승해조</title>
<link rel="stylesheet" type="text/css" href="../css/match.css">
<link rel="stylesheet" type="text/css" href="../css/Toolindex.css">
<link rel="icon" href="../image/대표팀2.png" type="image/x-icon" sizes="16x16">
<script src="../js/jquery-3.6.1.min.js"></script>
<script src="../js/match.js"></script>
<script src="../js/Toolindex.js"></script>
<script type="text/javascript">			
	
</script>
</head>
<body>
	<div id='wrap'>
	 	<div id="mainIndexBox">
 			<ul id="mainIndex">
 				<li><a href='mainindex.html' ><img src="../image/logo2.png" width='80' height='80'></a></li>
				<li><a href='Sub1.html'>한국대표팀 소개</a></li>
				<li><a href='cheerWall.html'>응원 담벼락</a></li>
				<li><a href='match.html'>승부 예측</a></li>
				<li><a href='signup.html'>회원가입</a></li>
				<li><a href='login.html'>로그인</a></li>
			</ul> 
		</div>  

		<div id="headerBox">
			<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;승부 예측&nbsp;&nbsp;&nbsp;잔여 포인트 : 0</div>
		</div>
		<div id="mainTabBox">
			<ul id="TabItem">
				<li class='tab-button'><img src='../image/KoreaSymbol.png'>&nbsp;&nbsp;&nbsp;&nbsp;대한민국
					vs 우루과이 <img src='../image/UruguaySymbol.png'></li>
				<li class='tab-button'><img src='../image/KoreaSymbol.png'>&nbsp;&nbsp;&nbsp;&nbsp;대한민국
					vs 가나 <img src='../image/GhanaSymbol.png'></li>
				<li class='tab-button'><img src='../image/KoreaSymbol.png'>&nbsp;&nbsp;&nbsp;&nbsp;대한민국
					vs 포르투갈 <img src='../image/PortugalSymbol.png'></li>
			</ul>
		</div>

		<div id='mainBetContainer'>
			<div class='mainBet'>
				<img src="../image/background.jpg" width='1280' height='773'>
				<div class='draw1'></div>
				<div class='drawtext'>트로피 선택 시 무승부</div>
				<div class='reset'><button class='resetBtn1'>초기화</button></div>
				
				<div class='leftBet1'>
					<img src="../image/KoreaPlayer.jpg" width='350' height='550'><br> 
					<img src="../image/KoreaFB.jpg" width='100' height='100'><br>
					<h3>대한민국</h3>
					<b class='score1'>45%</b>
				</div>
				<div class='rightBet1'>
					<img src="../image/UruguayPlayer.jpg" width='350' height='550'><br> 
					<img src="../image/UruguayFB.jpg" width='100' height='100'><br>
					<h3>우루과이</h3>
					<b class='score1'>55%</b>
				</div>
			</div>

			<div class='mainBet'>
				<img src="../image/background.jpg" width='1280' height='773'>
				<div class='draw2'></div>
				<div class='drawtext'>트로피 선택 시 무승부</div>
				<div class='reset'><button class='resetBtn2'>초기화</button></div>
				
				<div class='leftBet2'>
					<img src="../image/KoreaPlayer.jpg" width='350' height='550'><br> 
					<img src="../image/KoreaFB.jpg" width='100' height='100'><br>
					<h3>대한민국</h3>
					<b class='score2'>72%</b>
				</div>
				<div class='rightBet2'>
					<img src="../image/GhanaPlayer.jpg" width='350' height='550'><br>
					<img src="../image/GhanaFB.jpg" width='100' height='100'><br>
					<h3>가나</h3>
					<b class='score2'>28%</b>
				</div>
			</div>

			<div class='mainBet'>
				<img src="../image/background.jpg" width='1280' height='773'>
				<div class='draw3'></div>
				<div class='drawtext'>트로피 선택 시 무승부</div>
				<div class='reset'><button class='resetBtn3'>초기화</button></div>
				
				<div class='leftBet3'>
					<img src="../image/KoreaPlayer.jpg" width='350' height='550'><br>
					<img src="../image/KoreaFB.jpg" width='100' height='100'><br>
					<h3>대한민국</h3>
					<b class='score3'>33%</b>
				</div>
				<div class='rightBet3'>
					<img src="../image/PortugalPlayer.jpg" width='350' height='550'><br> 
					<img src="../image/PortugalFB.jpg" width='100' height='100'><br>
					<h3>포르투갈</h3>
					<b class='score3'>67%</b>
				</div>
			</div>
		</div>
		<br><hr><br>
		<article id="content">     
        	<div id="productBox">
                <h1 id='prdheader'>추첨하기</h1>
                <div class="product">
                	<div>
                		<img src="../image/ipad.jpg">
                		<h3>iPad Air 5th Gen</h3>
                		<h3 id='need'>1000포인트</h3>
                		<small>5개 한정</small><br>
                		<button id="prdBtn1">응모하기</button></div>
                	<div>
                		<img src="../image/sony.jpg">
                		<h3>Sony WH-1000XM4</h3>
                		<h3 id='need'>800포인트</h3>
                		<small>10개 한정</small><br>
                		<button id="prdBtn2">응모하기</button>
                	</div>
                	<div>
                		<img src="../image/airpod.jpg">
                		<h3>AirPods Pro 2</h3>
                		<h3 id='need'>600포인트</h3>
                		<small>10개 한정</small><br>
                		<button id="prdBtn3">응모하기</button>
                	</div>
                	<div>
                		<img src="../image/budspro2.jpg">
                		<h3>Buds Pro 2</h3>
                		<h3 id='need'>400포인트</h3>
                		<small>15개 한정</small><br>
                		<button id="prdBtn4">응모하기</button>
                	</div>
                	<div>
                		<img src="../image/ball.jpg">
                		<h3>World Cup Ball</h3>
                		<h3 id='need'>200포인트</h3>
                		<small>30개 한정</small><br>
                		<button id="prdBtn5">응모하기</button>
                	</div>
                </div>
			</div>
 		</article>
	</div>
</body>
<footer>
	<div id="BottomlogoBox">
		<a href="mainindex.html"><img src="../image/logo.png" id="logoImg"></a>
		<ul id="BottommenuItem">
			<li>고객센터</li>
			<li>광고문의</li>
			<li>인재채용</li>
			<li>개인정보처리방침</li>
			<li> ⓒ 우승해조 Corp.</li>
		</ul>
	</div>
</footer>
</html>
