<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>메인</title>
		<link rel="stylesheet" type="text/css" href="../css/Toolindex.css">
		<script src="../jquery-3.6.1.min.js"></script>
		<script src="../js/Toolindex.js"></script>
		<script type="text/javascript">			
			
		</script>			
	</head>
	<body>
		<div id='wrap'>
			<div id="mainIndexBox">
				<ul id="mainIndex">
					<li><a href='Toolindex.html'><img src="../image/logo2.png" width='80' height='80'></a></li>
					<li><a href='#'>한국대표팀 소개</a></li>
					<li><a href='#'>응원 담벼락</a></li>
					<li><a href='match.html'>승부 예측</a></li>
					<li><a href='#'>회원가입</a></li>
					<li><a href='#'>로그인</a></li>
				</ul>
			</div>
		</div>
	</body>
	<footer>
        <div id="BottomlogoBox">
            <a href="index.html"><img src="../image/logo.png" id="logoImg"></a>
            <ul id="BottommenuItem">
                <li>고객센터</li>
                <li>광고문의</li>
                <li>인재채용</li>
                <li>개인정보처리방침</li>
                <li> ⓒ 우승해조 Corp.</li>
            </ul>
        </div>
    </footer>
</html>
