@charset "UTF-8";

#miniwrap {
	width:1280px;
	height:735px;
	background-color:white;
}

.prdBtn {
	width:30%;
	height:10%;
	border:1px solid skyblue;
	background-color:rgba(0,0,0,0);
	color:skyblue;
	padding:5px;
	margin-top:200px;
	border-radius: 10px;
	font-weight:bold;
}


.prdBtn:hover {
	color:white;
	background-color:skyblue;
}