@charset "UTF-8";

#bottomBox {
	width: 1920px;
	color: white;
	height: 100px;
	background-color: grey;
}

#bottomBox a img {
	float: left;
	margin-top: 10px;
	margin-left: 23px;
}

#bottomMenuBox {
	height: 100px;
	margin-left: 305px;
	margin-right: 215px;
}

#bottomMenuBox p {
	font-size: 20px;
	float: left;
	width: 20%;
	height: 30px;
	margin-top: 35px;
	cursor: pointer;
}
