@charset "utf-8";

* {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
} 
button {
	cursor: pointer;
}

body {
	background-color: #f0f0f0;
}

#findIdForm h4 {
    text-align: left;
}

.findbox {
	width: 780px;
	height: 550px;
	margin: 0 auto;
	margin-top: 128px;
	margin-bottom: 128px;
}

.findbox h1 {
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
}

.findbox form {
	width: 100%;
	background: rgb(248, 249, 250);
	padding: 60px;
	box-sizing: border-box;
}

.findbox input {
	display: block;
	width: 100%;
	height: 50px;
	margin-bottom: 25px;
	border: none;
	background-color: #fff;
	padding: 0 20px;
	box-sizing: border-box;
}

.findbox button {
	width: 220px;
	height: 50px;
	margin: 10px;
	border: none;
	background-color: #282A35;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}