@charset "UTF-8";

/* match.css */

/* matchHeaderBox */

/* 경기별 탭 상자 */
#matchBtnCSS {
	height: 100px;
}


.mainBet {
	position: relative;
	display: none;
}

.show { /* jQuery addClass를 이용해서 mainBet탭을 보여줌 */
	position: relative;
	display: block;
}

.active { /* jQuery addClass를 이용해서 클릭 시 효과 */
	background-color: black;
}

.grayscale img { /* jQuery addClass를 이용해서 흑백 및 블러 효과 */
	-webkit-filter: blur(2px) grayscale(90%);
	filter: blur(2px) grayscale(90%);
}

.drawtext { /* 안내 텍스트 */
	top: 60px;
	left: 860px;
	position: absolute;
	color: white;
	font-weight: bold;
	font-size: 20px;
	opacity: 0.3;
}

.reset { /* 초기화 버튼 상자 */
	top: 5px;
	left: 860px;
	position: absolute;
	width:200px;
	height: 300px;
}

.resetBtn1 { /* 초기화 버튼 */
	opacity: 1;
}

.resetBtn2 {
	opacity: 1;
}

.resetBtn3 {
	opacity: 1;
}

.draw1 { /* 트로피를 누르면 무승부가 되기 위해 클릭 박스 생성 */
	width: 250px;
	height: 15px;
	top: 100px;
	left: 840px;
	position: absolute;
	cursor: pointer;
	padding-top: 635px;
}

.draw2 { /* 트로피를 누르면 무승부가 되기 위해 클릭 박스 생성 */
	width: 300px;
	height: 15px;
	top: 100px;
	left: 810px;
	position: absolute;
	cursor: pointer;
	padding-top: 635px;
}

.draw3 { /* 트로피를 누르면 무승부가 되기 위해 클릭 박스 생성 */
	width: 300px;
	height: 15px;
	top: 100px;
	left: 810px;
	position: absolute;
	cursor: pointer;
	padding-top: 635px;
}

.leftBet1 { /* mainBet1탭 안에서 왼쪽 팀 상자 */
	left: 0;
	top: 40px;
	position: absolute;
	margin-left: 380px;
	cursor: pointer;
}

.leftBet1 img {
	border: solid 2px red;
}

.rightBet1 { /* mainBet1탭 안에서 오른쪽 팀 상자 */
	right: 0;
	top: 40px;
	position: absolute;
	margin-right: 380px;
	cursor: pointer;
}

.rightBet1 img {
	border: solid 2px skyblue;;
}

.leftBet2 { /* mainBet2탭 안에서 왼쪽 팀 상자 */
	left: 0;
	top: 40px;
	position: absolute;
	margin-left: 380px;
	cursor: pointer;
}

.leftBet2 img {
	border: solid 2px red;
}

.rightBet2 { /* mainBet2탭 안에서 오른쪽 팀 상자 */
	right: 0;
	top: 40px;
	position: absolute;
	margin-right: 380px;
	cursor: pointer;
}

.rightBet2 img {
	border: solid 2px white;
}

.leftBet3 { /* mainBet3탭 안에서 왼쪽 팀 상자 */
	left: 0;
	top: 40px;
	position: absolute;
	margin-left: 380px;
	cursor: pointer;
}

.leftBet3 img {
	border: solid 2px red;
}

.rightBet3 { /* mainBet3탭 안에서 오른쪽 팀 상자 */
	right: 0;
	top: 40px;
	position: absolute;
	margin-right: 380px;
	cursor: pointer;
}

.rightBet3 img {
	border: solid 2px green;
}

.mainBet h3 { /* 나라 이름 */
	color: white;
}

.mainBet b { /* 배당 */
	color: white;
}

.score1 {
	display: none;
}

.score2 {
	display: none;
}

.score3 {
	display: none;
}

.on {
	display: block;
}

/* ===================================================== */
/* common */
#wrap {
	width: 1920px;
	height: 1200px;
	text-align: center;
	position: relative;
}

hr {
	width: 1280px;
}

* {
	margin: 0 auto;
}

ul {
	margin-top: 0;
	padding: 0;
	list-style: none;
}

body {
	background-color: #f0f0f0;
}

/* ===================================================== */
/* Menu */
#matchTitleBox {
	width:700px;
}

#matchTitleBox img {
	padding: 20px;
	margin-top:20px;
	border: 10px dashed black;
	border-radius: 50px;
	background-color:white;
}

#matchTitleBox img:hover {
    filter: invert(100%);
}

#matchHeaderBox { /* header 텍스트 박스 */
	width: 1280px;
	height: 300px;
	padding: 0;
	background-color: #005;
	position: relative;
	z-index:10;
}

#matchHeaderBox div { /* header 박스 안의 text */
	float: center;
	font-weight: bold;
	color: white;
	font-size: 20px;
}

#mainTabBox { /* 경기별 Tab 박스 */
	width: 1280px;
	height: 50px;
	background-color: #005;
	position: relative;
}

#mainTabBox ul li {
	float: left;
	text-align: center;
	width: 33%;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

#mainTabBox ul li img {
	width: 25px;
	height: 25px;
	margin-top: 15px;
	position: absolute;
}

#mainTabBox ul li:first-child {
	width: 33%;
	margin-left: 6px;
}

#mainTabBox ul li:hover {
	cursor: pointer;
}

.Btn {
	width:150px;
	height:50px;
	border:2px solid white;
	background-color:skyblue;
	color:white;
	padding:5px;
	margin-top:30px;
	border-radius:10px;
	font-weight:bold;
	font-size: 20px;
}

.Btn:hover {
	color:skyblue;
	background-color:white;
}

/* #matchBtn {
	width:100px;
	height:26px;
	border:1px solid red;
	background-color: red;
	color:white;
	border-radius: 10px;
	font-weight:bold;
} */

#matchBtn:hover {
	color:white;
	background-color:whidte;
}