@charset "UTF-8";

table {
	background-color:white;
	border:1px solid skyblue;
}

#pointForm {
	width:1280px;
	background-color:#f9f8f7;
	padding-top: 20px;
    padding-bottom: 50px;
}

table th { 
	background-color: skyblue;
}