<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.world_cup_2022.projectW.dao.IMatchDAO">
  	<!-- 승부 예측 선택 -->
  	<insert id="insertChoice">
  		INSERT INTO match_game(matchNo, matchNation1, matchNation2, memId)
  		VALUES(#{matchNo}, #{matchNation1}, #{matchNation2}, #{memId})
  	</insert>
  	
  	<!-- match1 퍼센트1 -->
  	<select id="match1Percent1" parameterType="hashmap" resultType="int">
	  	SELECT COUNT(*)
	  	FROM match_game
	  	WHERE matchNo=#{matchNo} AND matchNation1=#{matchNation1}
  	</select>
  	
  	<!-- match1 퍼센트2 -->
  	<select id="match1Percent2" parameterType="hashmap" resultType="int">
	  	SELECT COUNT(*)
	  	FROM match_game
	  	WHERE matchNo=#{matchNo} AND matchNation1=#{matchNation1}
  	</select>
  	
  	<!-- match1 퍼센트3 -->
  	<select id="match1Percent3" parameterType="hashmap" resultType="int">
	  	SELECT COUNT(*)
	  	FROM match_game
	  	WHERE matchNo=#{matchNo} AND matchNation1=#{matchNation1}
  	</select>
  	
  	<!-- 동일 승부 예측 중복 확인 -->
  	<select id="checkChoice" parameterType="hashmap" resultType="int">
	  	SELECT COUNT(*)
	  	FROM match_game
	  	WHERE matchNo=#{matchNo} AND memId=#{memId}							
  	</select>
  	
  	<!-- 승부 예측 수정 -->
  	<update id="updateChoice" parameterType="com.world_cup_2022.projectW.model.MatchVO">
  		UPDATE match_game
  		SET matchNation1=#{matchNation1}, matchNation2=#{matchNation2}
  		WHERE matchNo=#{matchNo} AND memId=#{memId}	
  	</update>
  	
  	<resultMap id="matchResult" type="com.world_cup_2022.projectW.model.MatchResultVO" >
  		<result property="matchNo" column="matchNo"/>
  		<result property="matchNation1" column="matchNation1"/>
  		<result property="matchNation2" column="matchNation2"/> 	
  	</resultMap>
  	
  	<!-- 경기 결과 가져오기 -->
  	<select id="matchResultView" resultMap="matchResult">
  		SELECT * FROM match_result ORDER BY matchNo	
  	</select>
  	
  	<!-- 승부 예측 성공자 아이디 가져오기 -->
  	<select id="matchFind" parameterType="hashmap" resultType="com.world_cup_2022.projectW.model.MemberVO">
  		SELECT memId
  		FROM match_game
  		WHERE matchNo=#{matchNo} AND matchNation1=#{matchNation1}
  	</select>
  	
  	
  	
  </mapper>